#titreBleu{
    color : blue;
    font-family : sans-serif;
}

#titreBrun{
color : brown;
font-family : sans-serif;
}

.floatLeft {
float: left;
margin-left: 10px;
margin-right: 50px;
}

#titreRouge{
color : red;
font-family : sans-serif;
}

a:link{ color : aqua;}
a:hover{color: red;}
a:actif{color : lime;}
a:visited{color: fuchsia;}

#titreNavy{
color : navy;
font-family : sans-serif;
}
#conteneur
{
display: flex;
flex-direction: column-reverse;
}

#lime{
color : lime;
}

#fuchsia{
color : fuchsia;
}
